/* GENERAL */
body {
    margin: 0;
    background-color:lightgoldenrodyellow;
}

/* MENU */
.menu {
    background: linear-gradient(45deg, green,blue);
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 30px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    display: flex;
    padding: 30px;
    gap: 100px;
}

/* TABLA */
.tabla-usuarios {
    width: 60%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #34495e;
    color: white;
}

/* BOTON */
.acciones {
    width: 30%;
    display: grid;
    justify-content: center;
    align-items: start;
}

.acciones button {
    padding: 12px 20px;
    font-size: 16px;
    background: linear-gradient(45deg, red,yellow);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.acciones button:hover {
    background-color: #219150;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: white;
    padding: 25px;
    width: 400px;
    border-radius: 8px;
    position: relative;
}

.cerrar {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
}

form button {
    background-color: #2980b9;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #1f6690;
}